body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  width: 100%;
  height: 100%;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #dddddd;
}

body.gameboy {
  background-color: #88c070;
  color: #081820;
  font-family: 'Go Mono', sans-serif;
}

@font-face {
  font-family: 'Go Mono';
  src: url('fonts/Go-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Go Mono';
  src: url('fonts/Go-Mono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Go Mono';
  src: url('fonts/Go-Mono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Go Mono';
  src: url('fonts/Go-Mono-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

form {
  margin: 0;
}

main {
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3em;
}

.header > a, .deck_container, .score_board {
  box-shadow: black 2px 2px 5px;
  margin: 1em;
  padding: 2em;
}

.light .header > a, .light .deck_container, .light .score_board, .light .card_container {
  box-shadow: black 2px 2px 5px;
  border: black solid 1px;
  background-color: #ffffff;
}

.dark .header > a, .dark .deck_container, .dark .score_board, .dark .card_container {
  box-shadow: #6effdd 2px 2px 5px;
  border: #6effdd solid 1px;
  background-color: #000000;
}

.gameboy .header > a, .gameboy .deck_container, .gameboy .score_board, .gameboy .card_container {
  box-shadow: #081820 2px 2px 5px;
  border: #346856 solid 1px;
  background-color: #e0f8d0;
  color: #346856;
}

.flex-col {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-row {
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.item-end {
  align-self: flex-end;
}

.decks_container .deck_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.deck_container h3 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.deck_container span {
  white-space: nowrap;
  margin: 0.5em;
}

.cards_container {
  text-align: center;
  max-width: 100%;
}

.cards_container h2 {
  margin: 0 0.5em;
}

.cards_container input {
  padding: 0.5em 1em;
}

.card_container {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: space-around;
  padding: 1em;
  margin: 1em;
}

.card_container h3 {
  text-align: center;
}

.card_container textarea {
  padding: 1em;
  width: 100%;
  /* width: 20em; */
  /* height: 7em; */
  min-height: 7em;
}

.card_container input {
  padding: 0.5em 1em;
}

.card_container p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.settings_option_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings_option_container h3 {
  align-self: flex-start;
}

.settings_option_text {
  margin-left: 0.5em;
}


.button_container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 23em;
  margin-left: 0.3em;
}

#import_file {
  width: 16em;
}

.export.button_container > button {
  margin-right: 4em;
}

.radios_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.radio_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  max-width: 90%;
}

h1 {
  text-align: center;
  font-style: italic;
  letter-spacing: 1em;
  margin-left: 0.8em;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
  -webkit-text-stroke-width: 1.5px;
}

.light h1 {
  text-shadow: #888888 9px 1px 5px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: black;
}

.dark h1 {
  text-shadow: #888888 9px 1px 5px;
  color: #777777;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #ffffff;
}

.gameboy h1 {
  text-shadow: #346856 9px 1px 5px;
  color: #346856;
  -webkit-text-fill-color: #081820; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #e0f8d0;
}

h2 {
  -webkit-margin-before: 0.41em;
          margin-block-start: 0.41em;
}

.game_section {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.score_board {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 8em;
  height: 8em;
  padding: 1em;
}

.score_board h3 {
  margin: 0.5em;
}

.score_board p {
  display: flex;
  justify-content: space-between;
  margin: 0.3em;
}

.game_board {
  width: 26em;
}

.question {
  min-height: 5em;
  -webkit-margin-before: 3em;
          margin-block-start: 3em;
  line-height: 1.3em;
}

.feedback {
  line-height: 1.5em;
}

#answer_attempt {
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
}

.gameboy #answer_attempt {
  background-color: #e0f8d0;
  color: #346856;
}

.voice_options {
  display: flex;
  flex-direction: column;
}

.label_container {
  display: flex;
  justify-content: space-between;
  -webkit-margin-before: 0.2em;
          margin-block-start: 0.2em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding: 0 0.4em;
}

.speech_range {
  margin-top: 0;
  margin-bottom: 1em;
}

.voice_label {
  padding-left: 0.4em;
  -webkit-margin-before: 0.1em;
          margin-block-start: 0.1em;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
}

.gameboy #settings h3 {
  color: #e0f8d0;
  text-shadow: #346856 2px 2px 0px;
}

select {
  height: 3em;
  padding: 0 1em;
}

button {
  margin: 1em;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

button, input, .radios_container label {
  cursor:pointer;
}

.gameboy button, .gameboy input, .gameboy .radios_container label, .gameboy textarea {
  font-family: 'Go Mono', sans-serif;
}

.light button, .light input, .light .radios_container label, .light textarea {
  font-family: sans-serif;
}

.dark button, .dark input, .dark .radios_container label, .dark textarea {
  font-family: sans-serif;
}

.gameboy button {
  font-weight: bold;
}

button {
  border-radius: 3px;
  transition-duration: 0.4s;

}

.light button {
  background-color: white;
  color: black;
  border: 1px solid #000000;
}

.light button:hover {
  background-color: CornflowerBlue;
  color: white;
}

.dark button {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #000000;
}

.dark button:hover {
  background-color: #6effdd;
  color: #333333;
}

.gameboy button {
  background-color: #346856;
  color: #e0f8d0;
  border: 1px solid #88c070;
}

.gameboy button:hover {
  background-color: #e0f8d0;
  color: #346856;
}

.gameboy button.inverse {
  background-color: #88c070;
  color: #e0f8d0;
  border: 1px solid #346856;
  text-shadow: 1px 1px 2px #346856;
}

.gameboy button:hover.inverse {
  background-color: #346856;
  color: #e0f8d0;
}

.btn_highlight {
  -webkit-appearance: none;
}

.light .btn_highlight {
  box-shadow: CornflowerBlue 0.3em 0.3em 0.0em, CornflowerBlue -0.3em -0.3em 0.0em, CornflowerBlue -0.3em 0.3em 0.0em, CornflowerBlue 0.3em -0.3em 0.0em;
}

.dark .btn_highlight {
  box-shadow: #6effdd 0.3em 0.3em 0.0em, #6effdd -0.3em -0.3em 0.0em, #6effdd -0.3em 0.3em 0.0em, #6effdd 0.3em -0.3em 0.0em;
}

.dark input[type=range] {
  height: 28px;
  -webkit-appearance: none;
  width: 100%;
  background-color: black;
}
.dark input[type=range]:focus {
  outline: none;
}
.dark input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #6effdd;
  border: 1px solid #346856;
}
.dark input[type=range]::-webkit-slider-thumb {
  border: 1px solid #346856;
  height: 24px;
  width: 10px;
  background: #6effdd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
.dark input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6effdd;
}
.dark input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 0px #081820;
  background: #6effdd;
  border-radius: 25px;
  border: 1px solid #346856;
}
.dark input[type=range]::-moz-range-thumb {
  border: 1px solid #346856;
  height: 24px;
  width: 10px;
  background: #6effdd;
  cursor: pointer;
}
.dark input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.dark input[type=range]::-ms-fill-lower {
  background: #6effdd;
  border: 1px solid #346856;
  border-radius: 50px;
  box-shadow: 1px 1px 0px #081820;
}
.dark input[type=range]::-ms-fill-upper {
  background: #6effdd;
  border: 1px solid #346856;
  border-radius: 50px;
  box-shadow: 1px 1px 0px #081820;
}
.dark input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #081820;
  border: 1px solid #346856;
  height: 24px;
  width: 10px;
  /* border-radius: 10px; */
  background: #6effdd;
  cursor: pointer;
}
.dark input[type=range]:focus::-ms-fill-lower {
  background: #6effdd;
}
.dark input[type=range]:focus::-ms-fill-upper {
  background: #6effdd;
}

.gameboy .btn_highlight {
  box-shadow: #e0f8d0 0.3em 0.3em 0.0em, #e0f8d0 -0.3em -0.3em 0.0em, #e0f8d0 -0.3em 0.3em 0.0em, #e0f8d0 0.3em -0.3em 0.0em;
  -webkit-appearance: none;
}

.gameboy input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  /* margin: 10px 0; */
  width: 100%;
  background-color: #88c070;
}
.gameboy input[type=range]:focus {
  outline: none;
}
.gameboy input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 0px #081820;
  background: #E0F8D0;
  border-radius: 25px;
  border: 1px solid #346856;
}
.gameboy input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #081820;
  border: 1px solid #346856;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  background: #E0F8D0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
.gameboy input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E0F8D0;
}
.gameboy input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 0px #081820;
  background: #E0F8D0;
  border-radius: 25px;
  border: 1px solid #346856;
}
.gameboy input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #081820;
  border: 1px solid #346856;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  background: #E0F8D0;
  cursor: pointer;
}
.gameboy input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.gameboy input[type=range]::-ms-fill-lower {
  background: #E0F8D0;
  border: 1px solid #346856;
  border-radius: 50px;
  box-shadow: 1px 1px 0px #081820;
}
.gameboy input[type=range]::-ms-fill-upper {
  background: #E0F8D0;
  border: 1px solid #346856;
  border-radius: 50px;
  box-shadow: 1px 1px 0px #081820;
}
.gameboy input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #081820;
  border: 1px solid #346856;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  background: #E0F8D0;
  cursor: pointer;
}
.gameboy input[type=range]:focus::-ms-fill-lower {
  background: #E0F8D0;
}
.gameboy input[type=range]:focus::-ms-fill-upper {
  background: #E0F8D0;
}
